.articles-mainpage {
  // .articles-mainpage__container

  &__container {
  }

  // .articles-mainpage__head

  &__head {
    margin-bottom: 6.5rem;
    @media (max-width: 48em) {
      margin-bottom: 4.8rem;
      .head__btn {
        width: auto;
        height: auto;
        min-width: 28.8rem;
        min-height: 8.8rem;
      }
      .head__title {
        text-align: center;
      }
    }
  }

  // .articles-mainpage__slider

  &__slider {
    filter: drop-shadow(1.2rem 2rem 6rem rgba(74, 75, 99, 0.149));
    @media (max-width: 48em) {
      margin-bottom: 8rem;
    }
  }

  // .articles-mainpage__wrapper

  &__wrapper {
  }

  // .articles-mainpage__slide

  &__slide {
  }
}
