.catalog-mainpage {
  // .catalog-mainpage__container

  &__container {
  }

  // .catalog-mainpage__head

  &__head {
    margin-bottom: 2.4rem;
    .head__title {
      text-align: center;
    }
    @media (max-width: 48em) {
      margin-bottom: 3.2rem;
    }
  }

  // .catalog-mainpage__filters

  &__filters {
    margin-bottom: 1.5rem;
    &.swiper {
      overflow: visible;
    }
    @media (max-width: 48em) {
      margin-bottom: 3rem;
    }
  }

  // .catalog-mainpage__content

  &__content {
  }

  // .catalog-mainpage__body

  &__body {
  }

  // .catalog-mainpage__footer

  &__footer {
  }

  // .catalog-mainpage__slider

  &__slider {
    @media (max-width: 48em) {
      margin-bottom: 8rem;
      height: 78rem;
    }
  }

  // .catalog-mainpage__wrapper

  &__wrapper {
    @media (max-width: 48em) {
      flex-wrap: wrap;
    }
  }

  // .catalog-mainpage__slide

  &__slide {
    padding: 3rem 3.8rem 0 3.8rem;
    @media (max-width: 48em) {
      padding: 3rem 1.5rem 0 0;
      height: calc((100% - 10px) / 2);
    }
  }
}
