.catalog-mainpage {
  // .catalog-mainpage__container

  &__container {
  }

  // .catalog-mainpage__head

  &__head {
    margin-bottom: 2.4rem;
    .head__title {
      text-align: center;
    }
    @media (max-width: 48em) {
      margin-bottom: 3.2rem;
    }
  }

  // .catalog-mainpage__filters

  &__filters {
    margin-bottom: 1.5rem;
    &.swiper {
      overflow: visible;
    }
    @media (max-width: 48em) {
      margin-bottom: 3rem;
    }
  }

  // .catalog-mainpage__content

  &__content {
  }

  // .catalog-mainpage__body

  &__body {
  }

  // .catalog-mainpage__footer

  &__footer {
  }

  // .catalog-mainpage__slider

  &__slider {
    @media (max-width: 48em) {
      margin-bottom: 8rem;
      height: 78rem;
    }
  }

  // .catalog-mainpage__wrapper

  &__wrapper {
    @media (max-width: 48em) {
      flex-wrap: wrap;
    }
  }

  // .catalog-mainpage__slide

  &__slide {
  }
}

// =============================================================================

.filters-catalog-mainpage {
  @media (min-width: 48em) {
    .swiper-wrapper {
      display: flex;
      justify-content: center;
    }
  }

  // .filters-catalog-mainpage__item

  &__item {
    position: relative;
    padding: 1.2rem 2rem;
    border-radius: 3rem;
    background-color: transparent;
    transition: all 0.4s ease;
    color: $black;
    font-size: 1.6rem;
    line-height: 160%;
    text-transform: uppercase;
    &._active {
      background-color: #ffffff;
      box-shadow: 1.2rem 2rem 6rem 0 rgba(74, 75, 99, 0.15);
    }
    @media (max-width: 48em) {
      padding: 2rem 3.2rem 1.5rem 3.2rem;
      border-radius: 6rem;
      font-size: 2.4rem;
    }
  }
}

// =============================================================================

.slide-catalog-mainpage {
  padding: 3rem 3.8rem 0 3.8rem;
  text-align: center;
  text-transform: uppercase;
  @media (max-width: 48em) {
    padding: 3rem 1.5rem 0 0;
    height: calc((100% - 10px) / 2);
  }

  // .slide-catalog-mainpage__body

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .slide-catalog-mainpage__image

  &__image {
    margin-bottom: 2rem;
    width: 30rem;
    @media (max-width: 48em) {
      margin-bottom: 1.6rem;
      width: 24.8rem;
    }
  }

  // .slide-catalog-mainpage__heading

  &__heading {
    margin-bottom: 0.4rem;
    color: $black;
    text-align: center;
    font-size: 2rem;
    line-height: 150%;
    @media (max-width: 48em) {
      font-size: 2.8rem;
    }
  }

  // .slide-catalog-mainpage__text

  &__text {
    font-size: 1.6rem;
    line-height: 160%;
    @media (max-width: 48em) {
      font-size: 2.4rem;
    }
  }
}
