.complexes-mainpage {
  position: relative;
  z-index: 3;
  padding-bottom: 24.6rem;
  &::after {
    @extend %bg;
    top: 50%;
    height: 73rem;
    background-image: url(@img/bg/marble/06.png);
    transform: translateY(-50%);
    @media (max-width: 48em) {
      top: 17%;
      left: 0;
      height: 140rem;
      background-image: url(@img/bg/marble/06-mobile.png);
      background-size: contain;
      transform: none;
    }
  }

  @media (min-width: 48em) {
    .text-block {
      max-width: 45rem;
      align-items: flex-start;
      text-align: left;
    }
  }
  @media (max-width: 48em) {
    padding-bottom: 16rem;
    .text-block {
      &__title {
        margin-bottom: 4.8rem;
      }
      &__text {
        margin-bottom: 4rem;
      }
      &__btn {
        min-width: 29.4rem;
        min-height: 8.8rem;
        order: 1;
      }
    }
  }

  // .complexes-mainpage__container

  &__container {
    position: relative;
    z-index: 2;
    display: grid;
    @media (min-width: 48em) {
      grid-template-columns: repeat(3, 4fr);
    }
  }

  // .complexes-mainpage__text-block

  &__text-block {
  }

  // .complexes-mainpage__image-wrap

  &__image-wrap {
    width: 65rem;
    @media (max-width: 48em) {
      margin-bottom: 3.2rem;
      width: 100%;
    }
    @media (min-width: 48em) {
      align-self: end;
    }
  }

  // .complexes-mainpage__image

  &__image {
  }

  // .complexes-mainpage__info

  &__info {
    @media (max-width: 48em) {
      margin-bottom: 4.8rem;
    }
  }
}

// =============================================================================

.info-complexes-mainpage {
  display: flex;
  column-gap: 5.6rem;
  @media (max-width: 48em) {
    flex-direction: column;
    align-items: center;
    row-gap: 2.4rem;
  }
  @media (min-width: 48em) {
    justify-content: space-between;
  }

  // .info-complexes-mainpage__item

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // .info-complexes-mainpage__number

  &__number {
    margin-bottom: 0.8rem;
    color: $black;
    font-size: 5rem;
    line-height: 140%;
    text-transform: uppercase;
    white-space: nowrap;
    @media (max-width: 48em) {
      font-size: 4.8rem;
    }
  }

  // .info-complexes-mainpage__text

  &__text {
    max-width: 58.7rem;
  }
}
