.contacts-mainpage {
  // .contacts-mainpage__container

  &__container {
    display: flex;
    flex-direction: column;
  }

  // .contacts-mainpage__title

  &__title {
    margin-bottom: 6rem;
    align-self: center;
  }

  // .contacts-mainpage__map

  &__map {
    display: flex;
    height: 70rem;
    border-radius: 2rem;
    @media (max-width: 48em) {
      height: 104.8rem;
      border-radius: 3rem;
    }
  }
}
