.hero-mainpage {
  position: relative;
  padding-top: 14.6rem;
  .hero-mainpage__wrap::before,
  .hero-mainpage__wrap::after,
  .hero-mainpage__container::before,
  .hero-mainpage__container::after {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    @media (max-width: 48em) {
      z-index: 1;
    }
  }
  &__materials,
  &__carousel,
  &__info {
    position: relative;
    z-index: 3;
  }
  &::after {
    @extend %bg;
    background-image: url(../img/bg/marble/01.png);
  }
  @media (min-width: 48em) {
    min-height: 83.1rem;
    &__materials,
    &__info {
      align-self: start;
    }
  }
  @media (max-width: 48em) {
    padding-top: 13.6rem;
    &__materials,
    &__info {
      grid-template-rows: 11rem 26.8rem auto;
    }
    &::after {
      height: 140.8rem;
      background-image: url(../img/bg/marble/01-mobile.png);
    }
  }

  // .hero-mainpage__wrap

  &__wrap {
    position: relative;
    &::before {
      z-index: 2;
      left: 0;
      top: 0;
      width: 195.9rem;
      height: 98.2rem;
      background-image: url(@img/bg/bg-image-04.png);
      transform: translate(-1%, -18%);
    }
    &::after {
      z-index: -1;
      left: 0;
      bottom: 0;
      width: 48.7rem;
      height: 57.2rem;
      background-image: url(@img/bg/bg-image-01.png);
      transform: translate(0, 24%);
    }
    @media (max-width: 48em) {
      &::before,
      &::after {
        left: auto;
        right: 0;
      }
      &::before {
        width: 215.2rem;
        height: 108rem;
        transform: translate(25%, -14%);
      }
      &::after {
        width: 39.4rem;
        height: 46.2rem;
        transform: translate(0, -99%) scalex(-1);
      }
    }
  }

  // .hero-mainpage__container

  &__container {
    position: relative;
    padding-top: 6.9rem;
    padding-bottom: 20rem;
    justify-content: space-between;
    &::before {
      z-index: -1;
      right: 0;
      bottom: 0;
      width: 128.5rem;
      height: 55.2rem;
      background-image: url(@img/bg/bg-image-02.png);
      transform: translate(8%, 21%);
    }
    &::after {
      z-index: 1;
      right: 0;
      top: 7rem;
      width: 32rem;
      height: 29.2rem;
      background-image: url(@img/bg/bg-image-03.png);
      transform: translate(10%, -2%);
    }
    @media (max-width: 48em) {
      padding-top: 4.4rem;
      padding-bottom: 16rem;
      grid-template-columns: 1fr auto;
      &::before {
        width: 112.8rem;
        height: 48.4rem;
        transform: translate(-15%, 22%);
      }
      &::after {
        display: none;
      }
    }
  }

  // .hero-mainpage__materials

  &__materials {
  }

  // .hero-mainpage__carousel

  &__carousel {
    min-width: 0;
    @media (max-width: 48em) {
      grid-column: span 2;
      order: -1;
    }
  }

  // .hero-mainpage__slider

  &__slider {
    @media (max-width: 48em) {
      margin-bottom: 2rem;
    }
  }

  // .hero-mainpage__wrapper

  &__wrapper {
  }

  // .hero-mainpage__slide

  &__slide {
    opacity: 0 !important;
    visibility: hidden !important;
    &.swiper-slide-active {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }

  // .hero-mainpage__slider-control

  &__slider-control {
    position: absolute;
    width: 62.4rem;
    height: 36.3rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: 48em) {
      width: 61rem;
      height: 44rem;
    }
  }

  // .hero-mainpage__pagination

  &__pagination {
    display: flex;
    justify-content: center;
    column-gap: 2.4rem;
    .swiper-pagination-bullet {
      width: 1.2rem;
      height: 1.2rem;
      background-color: #ffffff;
      border-radius: 50%;
      transition: all 0.3s ease;
      -webkit-box-shadow: 1px 3px 13px 0px rgba(74, 75, 99, 0.2);
      -moz-box-shadow: 1px 3px 13px 0px rgba(74, 75, 99, 0.2);
      box-shadow: 1px 3px 13px 0px rgba(74, 75, 99, 0.2);
      cursor: pointer;
      &.swiper-pagination-bullet-active {
        background-color: $black;
        -webkit-box-shadow: 12px 20px 60px 0px rgba(74, 75, 99, 0.15);
        -moz-box-shadow: 12px 20px 60px 0px rgba(74, 75, 99, 0.15);
        box-shadow: 12px 20px 60px 0px rgba(74, 75, 99, 0.15);
      }
    }
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
      .swiper-pagination-bullet {
        width: 2rem;
        height: 2rem;
      }
    }
    @media (min-width: 48em) {
      position: absolute;
      bottom: -17%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  // .hero-mainpage__nav-button

  &__nav-button {
    position: absolute;
    top: 50%;
    width: 5rem;
    transform: translateY(-50%);
    @media (max-width: 48em) {
      width: 5.6rem;
    }

    // .hero-mainpage__nav-button_prev

    &_prev {
      left: 0;
      img {
        transform: rotate(180deg);
      }
    }

    // .hero-mainpage__nav-button_next

    &_next {
      right: 0;
    }
  }

  // .hero-mainpage__info

  &__info {
  }
}

.materials-hero-mainpage {
  display: grid;
  @media (min-width: 48em) {
    padding-top: 5.5rem;
  }

  // .materials-hero-mainpage__text

  &__text {
    position: relative;
    z-index: 2;
    max-width: 31.7rem;
    @media (max-width: 48em) {
      max-width: 37.8rem;
    }
    @media (min-width: 48em) {
      margin-bottom: 2rem;
    }
  }

  // .materials-hero-mainpage__image-wrap

  &__image-wrap {
    position: relative;
    margin-bottom: 6.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 20px 30px 70px rgba(80, 81, 98, 0.1);
    &_fw {
      .materials-hero-mainpage__image {
        width: 225%;
        transform: translate(8%, 13%);
      }
    }
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 16rem;
      height: 16rem;
      top: 14%;
      left: 0;
      border-radius: 50%;
      border: 1px solid rgba(71, 70, 71, 0.3);
    }
    @media (max-width: 48em) {
      margin-bottom: 6rem;
      width: 20.8rem;
      height: 20.8rem;
      &::after {
        width: 100%;
        height: 100%;
      }
    }
  }

  // .materials-hero-mainpage__image

  &__image {
  }

  // .materials-hero-mainpage__anchor

  &__anchor {
    position: relative;
    z-index: 2;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 16rem;
    @media (max-width: 48em) {
      width: 20.8rem;
    }
  }

  // .materials-hero-mainpage__anchor-txt

  &__anchor-txt {
    margin-bottom: 1.6rem;
  }

  // .materials-hero-mainpage__anchor-icon

  &__anchor-icon {
    width: 4rem;
    transform: rotate(90deg);
    @media (max-width: 48em) {
      width: 5.6rem;
    }
  }
}

.slide-hero-mainpage {
  &__heading,
  &__text {
    max-width: 79.4rem;
    color: $black;
    text-align: center;
    font-size: 3.2rem;
    line-height: 140%;
    text-transform: uppercase;
    @media (max-width: 48em) {
      max-width: 68.4rem;
      font-size: 3.6rem;
    }
  }

  // .hero-mainpage__body

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .slide-hero-mainpage__image-wrap

  &__image-wrap {
    margin-bottom: 7rem;
    width: 36.3rem;
    height: 38.43rem;
    @media (max-width: 48em) {
      margin-bottom: 3.2rem;
      width: 40rem;
      height: 44rem;
    }
  }

  // .slide-hero-mainpage__image

  &__image {
    height: 100%;
    object-fit: contain;
  }

  // .slide-hero-mainpage__heading

  &__heading {
    margin-bottom: 1rem;
    font-family: 'HelveticaNeueCyr Medium';
    @media (max-width: 48em) {
      margin-bottom: 0.4rem;
    }
  }

  // .slide-hero-mainpage__text

  &__text {
  }
}

.info-hero-mainpage {
  display: grid;
  justify-items: end;
  @media (min-width: 48em) {
    padding-top: 10.3rem;
  }

  // .info-hero-mainpage__image-wrap

  &__image-wrap {
    width: 16rem;
    height: 16rem;
    @media (max-width: 48em) {
      grid-row: 2/3;
      width: 21rem;
      height: 21rem;
    }
    @media (min-width: 48em) {
      margin-bottom: 6rem;
    }
  }

  // .info-hero-mainpage__image

  &__image {
    object-fit: contain;
  }

  // .info-hero-mainpage__text

  &__text {
    max-width: 25.7rem;
    text-align: right;
    @media (max-width: 48em) {
      max-width: 29.4rem;
      grid-row: 3/4;
    }
  }
}