.privileges-mainpage {
  // .privileges-mainpage__container

  &__container {
    display: flex;
    flex-direction: column;
    &::before,
    &::after {
      @extend %bg;
    }
    &::before {
      top: 0;
      left: calc((100vw - 100%) / -2);
      width: 195.9rem;
      height: 98.2rem;
      background-image: url(@img/bg/05.png);
      transform: translate(0, 11%);
    }
    &::after {
      bottom: 0;
      right: 0;
      width: 43.8rem;
      height: 40rem;
      background-image: url(@img/bg/04.png);
      transform: translate(-92%, 0);
    }
    @media (max-width: 48em) {
      &::before {
        width: 44rem;
        height: 40.2rem;
        transform: translate(-74%, 70%);
      }
      &::after {
        transform: translate(-92%, 40%);
      }
    }
  }

  // .privileges-mainpage__title

  &__title {
    margin-bottom: 4.8rem;
    @media (min-width: 48em) {
      margin-bottom: 1rem;
      align-self: center;
      text-align: center;
    }
  }

  // .privileges-mainpage__items

  &__items {
    position: relative;
    display: grid;
    grid-template: 42rem / repeat(5, 1fr);
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: calc((100vw - 100%) / -2);
      right: 0;
      bottom: 0;
      width: 100vw;
      background-image: url(@img/bg/waves.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transform: translate(0, 17%);
    }
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
      display: flex;
      flex-direction: column;
      row-gap: 3.2rem;
      &::after {
        width: 96.8rem;
        height: 97.8rem;
        background-image: url(@img/bg/waves-mobile.svg);
        background-size: contain;
        transform: translate(-29%, 5%);
      }
    }
  }

  // .privileges-mainpage__item

  &__item {
    @media (min-width: 48em) {
      &:first-child,
      &:last-child {
        justify-content: flex-end;
        transform: translateY(7%);
      }
      &:nth-child(2),
      &:nth-child(4) {
        justify-content: center;
        transform: translateY(4%);
      }
      &:nth-child(3) {
        justify-content: flex-start;
        transform: translateY(10%);
        .item-privileges-mainpage__icon {
          width: 24rem;
          height: 24rem;
        }
        .item-privileges-mainpage__icon-img {
          width: 12.7rem;
        }
      }
    }
  }

  // .privileges-mainpage__text-wrap

  &__text-wrap {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    @media (min-width: 48em) {
      align-self: center;
      align-items: center;
      text-align: center;
    }
  }

  // .privileges-mainpage__txt-image

  &__txt-image {
    margin-bottom: 2rem;
    width: 22.2rem;
    @media (max-width: 48em) {
      margin-bottom: 3.2rem;
      width: 35.2rem;
    }
  }

  // .privileges-mainpage__text

  &__text {
    color: $black;
    font-size: 2rem;
    line-height: 150%;
    text-transform: uppercase;
    @media (max-width: 48em) {
      font-size: 2.8rem;
    }
  }
}

// =============================================================================

.item-privileges-mainpage {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  @media (min-width: 48em) {
    flex-direction: column;
  }
  @media (max-width: 48em) {
    column-gap: 3.2rem;
    flex-direction: row-reverse;
  }

  // .item-privileges-mainpage__text

  &__text {
    line-height: 140%;
    @media (min-width: 48em) {
      margin-bottom: 2.4rem;
      max-width: 26.4rem;
      text-align: center;
    }
    @media (max-width: 48em) {
      font-size: 2.8rem;
      line-height: 150%;
    }
  }

  // .item-privileges-mainpage__icon

  &__icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 17.5rem;
    height: 17.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    filter: drop-shadow(2rem 3rem 7rem rgba(80, 81, 98, 0.1));
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #ffffff;
      border-radius: 50%;
      opacity: 0.2;
    }
    @media (max-width: 48em) {
      flex: 0 0 18rem;
      width: 18rem;
      height: 18rem;
    }
  }

  // .item-privileges-mainpage__icon-img

  &__icon-img {
    width: 8.8rem;
    box-shadow: inset 0 2rem 2rem rgba(255, 255, 255, 0.3);
    filter: drop-shadow(1rem 1.5rem 2.6rem rgba(74, 75, 99, 0.1))
      drop-shadow(-1px -1px 0px #ffffff);
    @media (max-width: 48em) {
      width: 8.6rem;
    }
  }
}
