.hero-services {
  position: relative;
  .services_accessories & {
    &::after {
      @extend %bg;
      z-index: 1;
      bottom: 0;
      right: 0;
      width: 119.7rem;
      height: 55.4rem;
      background-image: url(@img/bg/03.png);
      transform: translate(33%, 0%);
    }
  }
  &__head,
  &__body,
  &__footer {
    display: grid;
    @media (min-width: 48em) {
      grid-template-columns: 5fr 39.4rem 5fr;
    }
    @media (max-width: 48em) {
      align-items: center;
    }
  }
  &__body::before,
  &__body::after,
  &__footer::after {
    content: '';
    align-self: center;
    background-color: rgba(150, 150, 150, 0.6);
  }
  &__text-wrap,
  &__body::after,
  &__text-block:last-child {
    @media (min-width: 48em) {
      margin-left: 7rem;
    }
  }
  &__title-wrap,
  &__text-wrap {
    @media (min-width: 48em) {
      display: grid;
      grid-template-rows: 4rem auto;
      row-gap: 6rem;
    }
  }

  // .hero-services__container

  &__container {
    @extend %flexColumn;
    position: relative;
    padding-top: 3.9rem;
    &::before,
    &::after {
      @extend %bg;
      z-index: 1;
    }
    &::before {
      left: calc((100vw - 100%) / -2);
      width: 48.7rem;
      height: 57.2rem;
      background-image: url(@img/bg/01.png);
      transform: translateY(28%);
      .services_monuments & {
        transform: translateY(40%);
      }
      .services_accessories & {
        background-image: url(@img/bg/04.png);
        transform: translateY(40%);
      }
    }
    &::after {
      right: calc((100vw - 100%) / -2);
      width: 128.5rem;
      height: 55.2rem;
      background-image: url(@img/bg/02.png);
      transform: translate(2%, 42%);
      .services_monuments & {
        width: 44.4rem;
        height: 41.6rem;
        background-image: url(@img/bg/04.png);
        transform: translate(8%, 80%);
      }
      .services_accessories & {
        right: 0;
        width: 26.8rem;
        height: 50.2rem;
        background-image: url(@img/bg/10.png);
        transform: translate(8%, 44%);
      }
    }
    @media (max-width: 48em) {
      padding-top: 4rem;
      align-items: center;
      text-align: center;
      &::before,
      &::after {
        display: none;
      }
    }
  }

  // .hero-services__head

  &__head {
    @extend %relative;
    margin-bottom: 6.9rem;
    @media (max-width: 48em) {
      margin-bottom: 10.8rem;
    }
  }

  // .hero-services__title-wrap

  &__title-wrap {
    @extend %flexColumn;
    @media (min-width: 48em) {
      justify-items: start;
    }
    @media (max-width: 48em) {
      margin-bottom: 3rem;
      align-items: center;
      .services_accessories & {
        margin: 0;
      }
    }
  }

  // .hero-services__title

  &__title {
    @extend .h2;
    .services_monuments & {
      @media (max-width: 48em) {
        max-width: 63rem;
      }
    }
    @media (min-width: 48em) {
      grid-row: 2/3;
      &_arrow {
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;
        column-gap: 4rem;
        white-space: nowrap;
        &::after {
          content: '';
          flex: 0 0 4rem;
          width: 4rem;
          height: 4rem;
          background-image: url(@img/icons/arrow.svg);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }

  // .hero-services__subtext

  &__subtext {
    @media (min-width: 48em) {
      margin-top: -6rem;
      grid-row: 3/4;
    }
  }

  // .hero-services__text-wrap

  &__text-wrap {
    @extend %flexColumn;
    @media (min-width: 48em) {
      justify-items: end;
      grid-column: 3/4;
    }
    @media (max-width: 48em) {
      align-items: center;
    }
  }

  // .hero-services__btn

  &__btn {
    padding: 0 4.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    column-gap: 1.6rem;
    min-width: 31rem;
    height: 5rem;
    &_prev {
      flex-direction: row-reverse;
      &::after {
        transform: rotate(-180deg);
      }
    }
    &::after {
      content: '';
      flex: 0 0 2.4rem;
      width: 2.4rem;
      height: 2.4rem;
      background-image: url(@img/icons/arrow.svg);
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 1;
    }
    @media (any-hover: hover) {
      &_prev:hover,
      &_next:hover {
        &::after {
          background-image: url(@img/icons/arrow-white.svg);
          background-color: transparent;
        }
      }
    }
    @media (max-width: 48em) {
      display: none;
    }
  }

  // .hero-services__text

  &__text {
    color: $grey;
    @media (min-width: 48em) {
      max-width: 61.7rem;
    }
  }

  // .hero-services__body

  &__body {
    @extend %relative;
    margin-bottom: 9.2rem;
    .services_accessories & {
      margin-bottom: 5.2rem;
    }
    .services_monuments & {
      margin-bottom: 2rem;
    }
    &::before,
    &::after {
      width: 31.5rem;
      height: 1px;
    }
    &::before {
      @media (min-width: 48em) {
        justify-self: end;
        transform: translate(-7rem);
      }
    }
    @media (max-width: 48em) {
      margin-bottom: 10.8rem;
      grid-template-columns: 1fr 38.4rem 1fr;
      justify-content: space-between;
      column-gap: 3rem;
      width: 100%;
      &::before,
      &::after {
        width: 100%;
      }
    }
  }

  // .hero-services__image

  &__image {
    @media (max-width: 48em) {
      width: 38.4rem;
    }
  }

  // .hero-services__footer

  &__footer {
    @extend %relative;
    &::after {
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: start;
      justify-self: center;
      width: 1px;
      height: 24rem;
      transform: translateY(-5.2rem);
      .services_monuments & {
        height: 15rem;
        transform: translateY(2.8rem);
      }
      .services_accessories & {
        height: 19.5rem;
        transform: translateY(18%);
      }
      @media (max-width: 48em) {
        display: none;
      }
    }
  }

  // .hero-services__text-block

  &__text-block {
    @extend %flexColumn;
    @media (min-width: 48em) {
      &:last-child {
        justify-self: end;
        grid-column: 3/4;
      }
    }
    @media (max-width: 48em) {
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 6rem;
      }
    }
  }

  // .hero-services__heading

  &__heading {
    @extend .h3;
    margin-bottom: 2.4rem;
    @media (max-width: 48em) {
      max-width: 53rem;
    }
  }

  // .hero-services__navigation

  &__navigation {
    margin-bottom: 6.4rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (min-width: 48em) {
      display: none;
    }
  }

  // .hero-services__arrow

  &__arrow {
    flex: 0 0 5.6rem;
    width: 5.6rem;
    height: 5.6rem;

    // .hero-services__arrow_prev

    &_prev {
      transform: rotate(-180deg);
    }

    // .hero-services__arrow_next

    &_next {
      transform: rotate(-360deg);
    }
  }
}
