.privileges-services {
  // .privileges-services__container

  &__container {
  }

  // .privileges-services__head

  &__head {
    @extend %flexColumn;
    margin-bottom: 5rem;
    align-items: center;
    text-align: center;
  }

  // .privileges-services__title

  &__title {
    margin-bottom: 2.4rem;
    @media (max-width: 48em) {
      margin-bottom: 0.8rem;
    }
  }

  // .privileges-services__txt

  &__txt {
    max-width: 39.4rem;
    @media (max-width: 48em) {
      max-width: 44.4rem;
    }
  }

  // .privileges-services__items

  &__items {
    position: relative;
    display: grid;
    grid-template: 43rem / repeat(6, 1fr);
    &::after {
      @extend %waves;
      background-size: contain;
      background-image: url(@img/bg/waves-v2.svg);
      transform: none;
    }
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
      margin-left: calc((100vw - 100%) / -2);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      row-gap: 3.2rem;
      &::after {
        width: 48.4rem;
        height: 104.4rem;
        background-image: url(@img/bg/waves-mobile-v2.svg);
        transform: translate(-11%, 4%);
      }
    }
  }

  // .privileges-services__item

  &__item {
    .item-privileges__icon-img {
      height: 50%;
      object-fit: contain;
    }

    .item-privileges__text {
      max-width: 25.4rem;
    }
    @media (min-width: 48em) {
      &:first-child {
        transform: translate(-7%, 2%);
      }
      &:nth-child(2) {
        align-self: end;
        transform: translate(-15%, 6%);
      }
      &:nth-child(3) {
        transform: translate(-16%, 16%);
      }
      &:nth-child(4) {
        transform: translate(-3%, 3%);
      }
      &:nth-child(5) {
        align-self: end;
        transform: translate(8%, -23%);
      }
      &:last-child {
        transform: translate(8%, 8%);
      }
    }
    @media (max-width: 48em) {
      justify-content: space-between;
      .item-privileges__text {
        margin-right: auto;
        max-width: 39rem;
      }
    }
  }
}
