.catalog {
  // .catalog__products

  &__products {
  }
}

// =============================================================================

.products-catalog {
  // .products-catalog__container

  &__container {
    display: flex;
    flex-direction: column;
    &::after {
      @extend %bg;
      left: 0;
      top: 0;
      width: 112.8rem;
      height: 48.4rem;
      background-image: url(@img/bg/02.png);
      transform: translate(-46%, -36%);
      @media (min-width: 48em) {
        z-index: 1;
        bottom: 0;
        width: 195.9rem;
        height: 98.2rem;
        background-image: url(@img/bg/03.png);
        transform: translateY(42%);
        .catalog_fences & {
          transform: translate(-7%, 133%);
        }
        .catalog_stone & {
          transform: translateY(157%);
        }
      }
    }
  }

  // .products-catalog__head

  &__head {
    @extend .grid;
    margin-bottom: 11rem;
    align-items: center;
    .catalog_stone & {
      margin-bottom: 8.7rem;
      justify-content: center;
      @media (max-width: 48em) {
        margin-bottom: 6.2rem;
      }
    }
    @media (max-width: 48em) {
      margin-bottom: 9.2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.6rem;
    }
  }

  // .products-catalog__filters

  &__filters {
    @media (min-width: 48em) {
      justify-self: start;
    }
  }

  // .products-catalog__tabs

  &__tabs {
    @media (min-width: 48em) {
      justify-self: center;
      grid-column: 2/3;
    }
    @media (max-width: 48em) {
      margin-bottom: 4.8rem;
      grid-column: span 2;
      grid-row: 1/2;
    }
  }

  // .products-catalog__select

  &__select {
    &_left {
      .select__options {
        left: 0;
        right: auto;
      }
      @media (min-width: 48em) {
        justify-self: start;
      }
    }
    &:not(&_left) {
      @media (min-width: 48em) {
        justify-self: end;
        grid-column: 3/4;
      }
    }
  }

  // .products-catalog__body

  &__body {
    @extend %relative;
  }

  // .products-catalog__group

  &__group {
    margin-bottom: 7.9rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    .catalog_stone & {
      column-gap: 3rem;
      row-gap: 6.2rem;
      @media (min-width: 48em) {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    @media (max-width: 48em) {
      margin-bottom: 9.1rem;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3.2rem;
      row-gap: 3.2rem;
    }
  }

  // .products-catalog__item

  &__item {
    .catalog_stone & {
      &.item-card {
        padding: 0;
      }
      .item-card__image {
        margin-bottom: 5.6rem;
        width: 21rem;
        filter: drop-shadow(3rem 9rem 15rem rgba(54, 56, 102, 0.1))
          drop-shadow(-2rem -1rem 11rem rgba(54, 56, 102, 0.1));
      }
      @media (min-width: 48em) {
        flex: 0 1 23%;
      }
    }
  }

  // .products-catalog__footer

  &__footer {
    @extend %relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 48em) {
      display: grid;
      grid-template-columns: 5fr 2fr 5fr;
      .catalog_stone & {
        display: none;
      }
    }
  }

  // .products-catalog__btn

  &__btn {
    grid-column: 2/3;
    justify-self: center;
    min-width: 31rem;
    height: 5rem;
    @media (max-width: 48em) {
      min-width: 33.4rem;
      height: 7.6rem;
    }
  }

  // .products-catalog__pagination

  &__pagination {
    grid-column: 3/4;
    justify-self: end;
  }
}
