.steps-services {
  // .steps-services__container

  &__container {
  }

  // .steps-services__head

  &__head {
    @extend %flexColumn;
    margin-bottom: 6rem;
    align-items: center;
    text-align: center;
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
    }
  }

  // .steps-services__title

  &__title {
    margin-bottom: 3.2rem;
    max-width: 68.2rem;
    @media (max-width: 48em) {
      margin-bottom: 3.6rem;
      max-width: 62.2rem;
    }
  }

  // .steps-services__subtext

  &__subtext {
    @media (max-width: 48em) {
      max-width: 47.6rem;
      font-size: 3.6rem;
    }
  }

  // .steps-services__body

  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    @media (max-width: 48em) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .steps-services__item

  &__item {
    @media (max-width: 48em) {
      &:last-child,
      &:nth-last-child(2) {
        padding-bottom: 0;
      }
    }
  }
}

// =============================================================================

.item-steps-services {
  position: relative;
  display: flex;
  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: -1px;
    background-color: rgba(150, 150, 150, 0.6);
  }
  @media (max-width: 48em) {
    padding-left: 2rem;
    padding-bottom: 6.4rem;
    flex-direction: column;
  }
  @media (min-width: 48em) {
    justify-content: center;
    align-items: center;
    min-height: 23rem;
  }

  // .item-steps-services__number

  &__number {
    @extend .h3;
    @media (min-width: 48em) {
      position: absolute;
      top: 0;
      left: 1.9rem;
    }
    @media (max-width: 48em) {
      margin-bottom: 2rem;
    }
  }

  // .item-steps-services__heading

  &__heading {
    max-width: 28.2rem;
  }
}
