.spoilers__title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  cursor: default;
  ._spoiler-init & {
    cursor: pointer;
    &::after {
      content: '';
      flex: 0 0 2.4rem;
      width: 2.4rem;
      height: 2.4rem;
      background-image: url(../img/icons/sl-arrow.svg);
      background-size: contain;
      background-repeat: no-repeat;
      transition: transform 0.3s ease;
      @media (max-width: 48em) {
        flex: 0 0 4.4rem;
        width: 4.4rem;
        height: 4.4rem;
      }
    }
    &._spoiler-active {
      &::after {
        transform: rotate(-180deg);
      }
    }
  }
}
.spoilers__body {
}
