.article {
  // .article__chapter

  &__chapter {
  }
}

// =============================================================================

.chapter-article {
  // .chapter-article__container

  &__container {
    &::before {
      @extend %bg;
      z-index: 1;
      width: 195.9rem;
      height: 98.2rem;
      background-image: url(@img/bg/03.png);
      transform: translate(-5%, -59%);
    }
  }

  // .chapter-article__head

  &__head {
    @extend %relative;
    margin-bottom: 6rem;
    @media (max-width: 48em) {
      margin-bottom: 4.8rem;
      &::before {
        width: 215.2rem;
        height: 108rem;
      }
    }
  }

  // .chapter-article__slider

  &__slider {
    @extend %relative;
    filter: drop-shadow(1.2rem 2rem 6rem rgba(74, 75, 99, 0.149));
    @media (max-width: 48em) {
      margin-bottom: 8rem;
    }
  }

  // .chapter-article__wrapper

  &__wrapper {
  }

  // .chapter-article__slide

  &__slide {
  }
}
