.select {
  position: relative;
  min-width: 20.4rem;

  // .select__body
  &__body {
    position: relative;
  }
  // .select__title
  &__title {
    width: 100%;
    border: 1px solid $grey;
    border-radius: 3rem;
    background-color: #ffffff;
    cursor: pointer;
    @media (max-width: 48em) {
      border-radius: 6rem;
    }
  }
  // .select__value
  &__value {
    padding: 0 1.5rem 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    column-gap: 2.4;
    > * {
      flex: 1 1 auto;
    }
    &::after {
      content: '';
      flex: 0 0 2.5rem;
      width: 2.5rem;
      height: 2.5rem;
      background-image: url(@img/icons/sl-arrow.svg);
      background-size: contain;
      background-repeat: no-repeat;
      ._select-open & {
        background-image: url(@img/icons/cross.svg);
      }

      @media (max-width: 48em) {
        flex: 0 0 3rem;
        width: 3rem;
        height: 3rem;
      }
    }
    &._select-pseudo-label {
      &::before {
        @extend .txt16;
        content: attr(data-pseudo-label);
        text-transform: uppercase;
      }
    }
    @media (max-width: 48em) {
      padding: 1.8rem 1.8rem 1.8rem 2.8rem;
      height: 7.4rem;
    }
  }
  // .select__text
  &__text {
    flex: 1 1 auto;
  }
  &__input {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  // .select__options
  &__options {
    position: absolute;
    top: calc(100% + 2rem);
    right: 0;
    row-gap: 2rem;
    min-width: 100%;
    width: 41.7rem;
    padding: 3.2rem 2rem;
    background-color: #ffffff;
    border-radius: 2rem;
    overflow: hidden;
    filter: drop-shadow(1.2rem 2rem 6rem rgba(74, 75, 99, 0.15));
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(@img/bg/marble-bg.png);
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.4;
    }
  }
  // .select__scroll
  &__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    // maximum height
    max-height: 200px;
    // scrollbar styles
    .simplebar-scrollbar {
      &::before {
        //opacity: 1;
      }
    }
  }
  // .select__option
  &__option {
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: left;
    color: inherit;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    &._select-selected {
    }
    .select-checkbox & {
      @extend .checkbox__label;
      &._select-selected {
        &::after {
          display: block;
        }
      }
    }
  }

  &__content {
    display: none;
  }

  // additional data construction
  &__row {
    display: inline-flex;
    align-items: center;
  }
  &__asset {
  }
  &__text {
  }

  // select state
  &._select-open {
    z-index: 5;
  }
  &._select-disabled {
  }
  &._select-active {
  }
  &._select-focus {
  }
  &._select-multiple {
  }
  &._select-checkbox {
  }
}

// tag
._select-tag {
  cursor: pointer;
}
