.map-contacts {
  padding-top: 6.1rem;
  .map-contacts__links::after,
  .map-contacts__link-wrap::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
  }

  @media (max-width: 48em) {
    padding-top: 4rem;
  }

  // .map-contacts__container

  &__container {
    &::before {
      @extend %bg;
      z-index: 1;
      top: 0;
      left: 0;
      width: 195.9rem;
      height: 98.2rem;
      background-image: url(@img/bg/03.png);
      transform: translate(-6%, -19%);
      @media (max-width: 48em) {
        display: none;
      }
    }
  }

  // .map-contacts__title

  &__title {
    @extend %relative;
    margin-bottom: 5rem;
    text-align: center;
    @media (max-width: 48em) {
      margin-bottom: 10.8rem;
    }
  }

  // .map-contacts__wrap

  &__wrap {
    @extend %relative;
    @media (min-width: 48em) {
      #map .ymaps-2-1-79-controls__control_toolbar {
        top: 50%;
        transform: translateY(50%);
      }
    }
  }

  // .map-contacts__links

  &__links {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 50%;
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    overflow: hidden;
    transform: translate(50%, -50%);
    @media (min-width: 48em) {
      padding: 0.7rem 1.1rem 0.9rem 1.1rem;
      right: 3.8rem;
      border-radius: 5rem;
      transform: translate(0, -50%);
    }
    @media (max-width: 48em) {
      &::after {
        display: none;
      }
    }
  }

  // .map-contacts__link-wrap

  &__link-wrap {
    &:first-child {
      .map-contacts__btn {
        min-width: 24.5rem;
        @media (max-width: 48em) {
          min-width: 32rem;
        }
      }
    }
    &:last-child {
      .map-contacts__btn {
        min-width: 19.9rem;
        @media (max-width: 48em) {
          min-width: 28rem;
        }
      }
    }
    @media (max-width: 48em) {
      position: relative;
      padding: 0.8rem;
      overflow: hidden;
      border-radius: 6rem;
    }
    @media (min-width: 48em) {
      &::after {
        display: none;
      }
    }
  }

  // .map-contacts__btn

  &__btn {
    @extend %relative;
    min-height: 5rem;
    @media (max-width: 48em) {
      min-height: 8rem;
    }
  }

  // .map-contacts__inner

  &__inner {
    display: flex;
    height: 89rem;
    border-radius: 2rem;
    @media (max-width: 48em) {
      height: 140rem;
      border-radius: 3rem;
    }
  }
}
