.text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  // .text-block__title

  &__title {
    margin-bottom: 3.2rem;
    @media (max-width: 48em) {
      max-width: 43.6rem;
    }
  }

  // .text-block__text

  &__text {
    margin-bottom: 4rem;
    max-width: 67.4rem;
  }

  // .text-block__btn

  &__btn {
    min-width: 22rem;
    min-height: 6rem;
  }
}

.txt {
  color: $black;
  line-height: 160%;
  @media (max-width: 48em) {
    font-size: 2.8rem;
  }

  // .txt_uc

  &_uc {
    text-transform: uppercase;
  }
}

._hidden {
  display: none;
}

.h2 {
  color: $black;
  font-size: 5rem;
  line-height: 140%;
  text-transform: uppercase;
  @media (max-width: 48em) {
    font-size: 4.8rem;
  }
}

.h3 {
  color: $black;
  font-size: 2.6rem;
  line-height: 140%;
  text-transform: uppercase;
  @media (max-width: 48em) {
    font-size: 3.6rem;
    line-height: 150%;
  }
}

.txt20 {
  color: $black;
  font-size: 2rem;
  line-height: 150%;
  text-transform: uppercase;
  @media (max-width: 48em) {
    font-size: 2.8rem;
  }
}

.txt16 {
  font-size: 1.6rem;
  line-height: 160%;
  &_uc {
    text-transform: uppercase;
  }
  @media (max-width: 48em) {
    font-size: 2.8rem;
    line-height: 150%;
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 10.7rem;
  height: 10.7rem;
  flex: 0 0 10.7rem;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 1.2rem 1.2rem 0 rgba(255, 255, 255, 0.3) inset;
  filter: drop-shadow(-0.5rem -0.05rem 0 #fff)
    drop-shadow(0.56rem 0.84rem 1.46rem rgba(74, 75, 99, 0.1));
  @media (max-width: 48em) {
    flex: 0 0 18rem;
    width: 18rem;
    height: 18rem;
  }

  // .icon__image

  &__image {
    flex: 0 0 5.2rem;
    width: 5.2rem;
    height: 5.2rem;
    @media (max-width: 48em) {
      flex: 0 0 8.6rem;
      width: 8.6rem;
      height: 8.6rem;
    }
  }
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  min-width: 25.8rem;
  border-radius: 5rem;
  &:not(&_ol, &_no-bg) {
    background-image: url(@img/bg/btn-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    &::after {
      @extend %btnBg;
      transition: 0.4s ease 0s;
    }
  }
  &_no-bg {
    background-color: $black;
  }
  &_ol {
    background-color: #ffffff;
    border: 1px solid $black;
    transition: background-color 0.4s ease 0s;
    &::after {
      opacity: 0;
    }
    .btn__text {
      color: $black;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: $black;
      .btn__text {
        color: #ffffff;
      }
      &::after {
        background-color: $black;
        opacity: 1;
      }
    }
  }
  @media (max-width: 48em) {
    min-width: 35.2rem;
    min-height: 8.8rem;
    border-radius: 6rem;
  }

  // .btn__text

  &__text {
    position: relative;
    z-index: 2;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 160%;
    text-transform: uppercase;
    transition: 0.3s ease 0s;
    @media (max-width: 48em) {
      font-size: 2.4rem;
    }
  }
}

.item-card {
  padding: 0 4rem;
  text-align: center;
  text-transform: uppercase;
  @media (max-width: 48em) {
    padding: 0;
  }

  // .item-card__body

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .item-card__image

  &__image {
    margin-bottom: 1rem;
    width: 30rem;
    @media (max-width: 48em) {
      margin-bottom: 1.6rem;
      width: 24.8rem;
    }
  }

  // .item-card__heading

  &__heading {
    margin-bottom: 0.4rem;
    color: $black;
    text-align: center;
    font-size: 2rem;
    line-height: 150%;
    @media (max-width: 48em) {
      font-size: 2.8rem;
    }
  }

  // .item-card__text

  &__text {
    font-size: 1.6rem;
    line-height: 160%;
    @media (max-width: 48em) {
      font-size: 2.3rem;
    }
  }
}

.page-pagination {
  display: flex;

  // .page-pagination__item

  &__item {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 5rem;
    width: 5rem;
    height: 5rem;
    border: 1px solid $black;
    border-radius: 50%;
    overflow: hidden;
    &._active {
      background-image: url(@img/bg/num-bg.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      span {
        color: #ffffff;
      }
    }
    span {
      position: relative;
      z-index: 2;
      font-size: 2rem;
      line-height: 140%;
      text-transform: uppercase;
      white-space: nowrap;
    }
    @media (max-width: 48em) {
      flex: 0 0 7.6rem;
      width: 7.6rem;
      height: 7.6rem;
      span {
        font-size: 2.8rem;
      }
    }
  }
}

.expand-btn {
  // .expand-btn__inner

  &__inner {
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 17.7rem;
    height: 5rem;
    border-radius: 3rem;
    background-image: url(@img/bg/btn-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    &::after {
      @extend %btnBg;
    }
    @media (max-width: 48em) {
      padding: 0.8rem 0.8rem 0.8rem 2.8rem;
      width: 100%;
      height: 7.4rem;
      border-radius: 6rem;
    }
  }

  // .expand-btn__txt

  &__txt {
    @extend %relative;
    color: #ffffff;
  }

  // .expand-btn__icon

  &__icon {
    @extend %relative;
    flex: 0 0 4rem;
    width: 4rem;
    height: 4rem;
    @media (max-width: 48em) {
      flex: 0 0 5.8rem;
      width: 5.8rem;
      height: 5.8rem;
    }
  }
}

.filters {
  position: fixed;
  z-index: 100;
  top: 100%;
  bottom: auto;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.4s ease;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(@img/bg/marble-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    filter: grayscale(100%);
  }
  ._filters-open & {
    top: 0;
    bottom: 0;
  }
  @media (max-width: 48em) {
    &::after {
      background-image: url(@img/bg/marble-bg-mobile.png);
    }
  }

  // .filters__container

  &__container {
    padding-top: 6rem;
    padding-bottom: 6.5rem;
    display: flex;
    flex-direction: column;
    &::before,
    &::after {
      @extend %bg;
      position: fixed;
      bottom: 0;
      right: 0;
      display: none;
      ._filters-open & {
        display: block;
      }
    }
    &::before {
      width: 39.4rem;
      height: 46.2rem;
      background-image: url(@img/bg/01.png);
      transform: scalex(-1) translate(-1%, -96%);
    }
    &::after {
      width: 112.8rem;
      height: 48.4rem;
      background-image: url(@img/bg/02.png);
      transform: translate(-15%, 35%);
    }
    @media (max-width: 48em) {
      padding-top: 6.8rem;
      padding-bottom: 5.6rem;
      height: 100%;
    }
    @media (min-width: 48em) {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  // .filters__head

  &__head {
    @extend %relative;
    margin-bottom: 6.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
    }
  }

  // .filters__heading

  &__heading {
    @extend .h2;
  }

  // .filters__close-btn

  &__close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 6.8rem;
    width: 6.8rem;
    height: 6.8rem;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 1.2rem 2rem 6rem rgba(74, 75, 99, 0.15);
    @media (max-width: 48em) {
      flex: 0 0 8rem;
      width: 8rem;
      height: 8rem;
    }
  }

  // .filters__close-icon

  &__close-icon {
    flex: 0 0 3rem;
    width: 3rem;
    height: 3rem;
    @media (max-width: 48em) {
      flex: 0 0 3.5rem;
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  // .filters__form

  &__form {
    @extend %relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  // .filters__form-content

  &__form-content {
    margin-bottom: 31.4rem;
    flex: 1 1 auto;
    .catalog_socles & {
      margin-bottom: 10rem;
    }
    @media (min-width: 48em) {
      margin-bottom: 4rem;
      display: grid;
      grid-template-columns: 3fr 7fr 2fr;
      gap: 2.4rem;
    }
  }

  // .filters__group

  &__group {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    background-color: #ffffff;
    @media (min-width: 48em) {
      padding: 2rem 2.4rem;
      &_large {
        grid-column: span 3;
      }
    }
    @media (max-width: 48em) {
      min-width: 0;
      box-shadow: 2.4rem 4rem 22rem 0 rgba(74, 75, 99, 0.15);
      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
      &_materials {
        .filters__col {
          grid-column: span 2;
        }
      }
    }
  }

  // .filters__subtitle

  &__subtitle {
    @extend .h3;
    margin-bottom: 4rem;
    @media (max-width: 48em) {
      margin: 0;
      padding: 3.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 3rem;
      background-color: #ffffff;
      transition: border-radius 0.3s ease;
      &::after {
        content: '';
        flex: 0 0 4.8rem;
        width: 4.8rem;
        height: 4.8rem;
        background-image: url(@img/icons/sl-arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.3s ease;
      }
      &._spoiler-active {
        border-radius: 3rem 3rem 0 0;
        &::after {
          transform: rotate(-180deg);
        }
      }
    }
  }

  // .filters__checkboxes

  &__checkboxes {
    display: flex;
    justify-content: space-between;
    column-gap: 5.6rem;
    @media (max-width: 48em) {
      padding: 4rem 3.2rem 3.2rem 3.2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4rem;
      row-gap: 2.4rem;
      border-radius: 0 0 3rem 3rem;
      background-color: #ffffff;
    }
  }

  // .filters__col

  &__col {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    @media (max-width: 48em) {
      row-gap: 2.4rem;
    }
  }

  // .filters__actions

  &__actions {
    @extend %relative;
    display: flex;
    column-gap: 1.8rem;
    @media (min-width: 48em) {
      justify-content: flex-end;
      column-gap: 2rem;
    }
  }

  // .filters__btn

  &__btn {
    min-width: 22rem;
    &.btn_ol {
      @media (any-hover: hover) {
        &:hover {
          background-color: #ffffff;
          .btn__text {
            color: $black;
          }
        }
      }
    }
    @media (max-width: 48em) {
      width: 100%;
    }
  }
}

.catalog-tabs {
  &.swiper {
    overflow: visible;
  }
  @media (min-width: 48em) {
    .swiper-wrapper {
      display: flex;
      justify-content: center;
    }
  }

  // .catalog-tabs__item

  &__item {
    position: relative;
    padding: 1.2rem 2rem;
    border-radius: 3rem;
    background-color: transparent;
    transition: all 0.4s ease;
    color: $black;
    font-size: 1.6rem;
    line-height: 160%;
    text-transform: uppercase;
    &._active {
      background-color: #ffffff;
      box-shadow: 1.2rem 2rem 6rem 0 rgba(74, 75, 99, 0.15);
    }
    @media (max-width: 48em) {
      padding: 2rem 3.2rem 1.5rem 3.2rem;
      border-radius: 6rem;
      font-size: 2.4rem;
    }
  }
}

.section-footer {
  display: none;
  @media (max-width: 48em) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.grid {
  display: grid;
  @media (min-width: 48em) {
    grid-template-columns: 31.7rem 1fr 31.7rem;
    .head__slider-navigation {
      justify-self: start;
    }
    .head__title {
      justify-self: center;
    }
    .head__btn {
      justify-self: end;
    }
  }
}

.contacts-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  // .contacts-info__head

  &__head {
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
    @media (max-width: 48em) {
      margin-bottom: 1rem;
    }
  }

  // .contacts-info__icon-wrap

  &__icon-wrap {
    flex: 0 0 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    @media (max-width: 48em) {
      flex: 0 0 4.8rem;
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  // .contacts-info__icon

  &__icon {
    object-fit: contain;
  }

  // .contacts-info__heading

  &__heading {
    font-size: 2.6rem;
    line-height: 140%;
    color: $black;
    text-transform: uppercase;
    @media (max-width: 48em) {
      font-size: 3.2rem;
    }
  }

  // .contacts-info__list

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  // .contacts-info__list-item

  &__list-item {
    &:first-child {
      .contacts__list-txt span {
        color: $black;
      }
    }
  }

  // .contacts-info__list-txt

  &__list-txt {
    display: flex;
    flex-wrap: nowrap;
    color: $grey;
    white-space: nowrap;
    span {
      margin-left: 0.5rem;
    }
  }
}

.head {
  align-items: center;
  text-align: center;

  // .head__slider-navigation

  &__slider-navigation {
  }

  // .head__title

  &__title {
  }

  // .head__btn

  &__btn {
  }
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 3.2rem;
  @media (max-width: 48em) {
    column-gap: 6.4rem;
  }

  // .navigation__button

  &__button {
    width: 2.4rem;
    transition: opacity 0.3s ease;
    &.swiper-button-disabled {
      opacity: 0.5;
    }
    @media (max-width: 48em) {
      width: 4.8rem;
    }

    // .navigation__button_prev

    &_prev {
      transform: rotate(-180deg);
    }

    // .navigation__button_next

    &_next {
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 2.4rem;
  .swiper-pagination-bullet {
    width: 1.6rem;
    height: 1.6rem;
    background-color: #ffffff;
    border-radius: 50%;
    filter: drop-shadow(0.3rem 0.6rem 1.3rem rgba(74, 75, 99, 0.2));
    transition: all 0.3s ease;
    cursor: pointer;
    &.swiper-pagination-bullet-active {
      background-color: $black;
      filter: drop-shadow(1.2rem 2rem 6rem rgba(74, 75, 99, 0.15));
    }
  }
  @media (max-width: 48em) {
    .swiper-pagination-bullet {
      width: 2rem;
      height: 2rem;
    }
  }
}

.logo {
  display: flex;
  column-gap: 1.2rem;
  @media (max-width: 48em) {
    align-items: center;
  }

  // .logo__image

  &__image {
    align-self: center;
    flex: 0 0 8.2rem;
    width: 8.2rem;
    height: 8.2rem;
    @media (max-width: 48em) {
      flex: 0 0 8.4rem;
      width: 8.4rem;
      height: 8.4rem;
    }
  }

  // .logo__text

  &__text {
    padding: 2.1rem 0 0.8rem 0;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    line-height: 150%;
    text-transform: uppercase;
    span {
      font-family: 'HelveticaNeueCyr Medium';
      font-size: 2.2rem;
    }
    @media (max-width: 48em) {
      font-size: 2.6rem;
      span {
        font-size: 2.8rem;
      }
    }
  }
}

.list {
  display: flex;
  column-gap: 3.2rem;
  text-transform: uppercase;
  @media (max-width: 48em) {
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    row-gap: 3.2rem;
  }

  // .list__item

  &__item {
  }

  // .list__link

  &__link {
  }

  // .list__link-txt

  &__link-txt {
    line-height: 160%;
  }
}

.call {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: right;
  text-transform: uppercase;
  @media (max-width: 48em) {
    align-items: center;
    row-gap: 0.5rem;
    text-align: center;
  }

  // .call__link

  &__link {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
  }

  // .call__icon

  &__icon {
    width: 2.8rem;
  }

  // .call__link-txt

  &__link-txt {
    font-size: 2.2rem;
    font-family: 'HelveticaNeueCyr Medium';
  }

  // .call__text

  &__text {
    font-size: 2rem;
    line-height: 150%;
  }
}

#map {
  position: relative;
  overflow: hidden;
  [class*='ymaps-2'][class*='-ground-pane'] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
  }
  .ymaps-2-1-79-copyrights-pane {
    display: none;
  }
  .ymaps-2-1-79-map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .ymaps-2-1-79-controls__control_toolbar,
  .ymaps-2-1-79-controls__control {
    position: absolute;
    top: calc(70rem / 2);
    right: 8rem;
    width: 41.9rem;
    height: auto;
    transform: translateY(-50%);
    @media (max-width: 48em) {
      position: static;
      margin-left: 7rem;
      margin-right: 1.2rem;
      width: auto;
      max-width: 100%;
      transform: translateY(calc(-100% - 3rem));
    }
  }
  .ymaps-2-1-79-inner-panes {
    overflow: visible;
  }
}
.map-panel {
  padding: 4.3rem 2.4rem 2.4rem 2.4rem;
  display: flex;
  flex-direction: column;
  min-height: 43.5rem;
  border-radius: 2rem;
  color: $black;
  text-transform: uppercase;
  background-color: #ffffff;
  filter: drop-shadow(1.2rem 2rem 6rem rgba(74, 75, 99, 0.15));
  @media (max-width: 48em) {
    padding: 7rem 3.2rem 3.2rem 3.2rem;
    // min-height: 69.4rem;
  }

  // .map-panel__heading

  &__heading {
    margin-bottom: 1.6rem;
    font-size: 2.6rem;
    line-height: 140%;
    @media (max-width: 48em) {
      font-size: 3.2rem;
    }
  }

  // .map-panel__list

  &__list {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    @media (max-width: 48em) {
      margin-bottom: 2.8rem;
      row-gap: 1.2rem;
    }
  }

  // .map-panel__list-item

  &__list-item {
    line-height: 160%;
    font-size: 1.6rem;
    @media (max-width: 48em) {
      font-size: 2.4rem;
    }
  }

  // .map-panel__list-heading

  &__list-heading {
    white-space: nowrap;
  }

  // .map-panel__list-txt

  &__list-txt {
    color: $grey;
  }

  // .map-panel__image-wrap

  &__image-wrap {
    height: 15.4rem;
    @media (max-width: 48em) {
      height: 22rem;
    }
  }

  // .map-panel__image

  &__image {
  }

  // .map-panel__icon-wrap

  &__icon-wrap {
    position: absolute;
    width: 9rem;
    height: 9rem;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    // filter: drop-shadow(1.2rem 2rem 6rem rgba(74, 75, 99, 0.15));
    @media (max-width: 48em) {
      width: 12rem;
      height: 12rem;
    }
  }

  // .map-panel__icon

  &__icon {
    height: 100%;
    object-fit: contain;
  }
}
