.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 3rem;
  width: 100%;
  color: $black;
  text-transform: uppercase;
  background-color: transparent;
  @media (max-width: 48em) {
    padding-top: 2.4rem;
  }

  // .header__container

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 8.5rem;
    @media (max-width: 48em) {
      height: 8.4rem;
    }
  }

  // .header__logo

  &__logo {
    @media (min-width: 48em) {
      margin-right: 7.4rem;
    }
  }

  // .header__menu

  &__menu {
    @media (min-width: 48em) {
      margin-right: auto;
    }
  }

  // .header__call

  &__call {
  }
}

// =============================================================================

.logo-header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  column-gap: 1.2rem;

  // .logo-header__image

  &__image {
    width: 8.2rem;
  }

  // .logo-header__text

  &__text {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    line-height: 150%;
    span {
      font-family: 'HelveticaNeueCyr Medium';
      font-size: 2.2rem;
    }
  }
}

.menu {
  // .menu__hamburger

  &__hamburger {
  }

  // .menu__body

  &__body {
    @media (max-width: 48em) {
      position: fixed;
      top: -110%;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 18.8rem;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      overflow: auto;
      transition: top 0.4s ease;
      &::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 10.8rem;
        opacity: 0;
        background-color: #ffffff;
      }
      .menu-open & {
        top: 0;
        &::after {
          opacity: 1;
        }
      }
    }
  }

  // .menu__list

  &__list {
    display: flex;
    column-gap: 3.2rem;
    @media (max-width: 48em) {
      margin-bottom: 3rem;
      flex-direction: column;
      align-items: center;
      row-gap: 3.2rem;
    }
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
  }

  // .menu__link-txt

  &__link-txt {
    line-height: 160%;
  }
}

.call-header {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: right;
  @media (max-width: 48em) {
    align-items: center;
    row-gap: 0.5rem;
    text-align: center;
  }

  // .call-header__link

  &__link {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
  }

  // .call-header__icon

  &__icon {
    width: 2.8rem;
  }

  // .call-header__link-txt

  &__link-txt {
    font-size: 2.2rem;
    font-family: 'HelveticaNeueCyr Medium';
  }

  // .call-header__text

  &__text {
    font-size: 2rem;
    line-height: 150%;
  }
}

// =============================================================================
.hamburger,
.close-menu {
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 4rem;
  width: 4.6rem;
  height: 4.6rem;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  cursor: pointer;
  span {
    position: absolute;
    border-radius: 1px;
    background-color: #474647;
  }
}
.close-menu {
  opacity: 0;
  visibility: hidden;
  .menu-open & {
    opacity: 1;
    visibility: visible;
  }
  span {
    content: '';
    top: 0;
    right: 50%;
    height: 4.6rem;
    width: 2px;
    &:first-child {
      transform: rotate(45deg);
    }
    &:last-child {
      transform: rotate(-45deg);
    }
  }
}
.hamburger {
  display: none;
  @media (max-width: 48em) {
    display: block;
    height: 4rem;
    opacity: 1;
    visibility: visible;
    span {
      display: block;
      height: 2px;
      width: 100%;
      opacity: 1;
      left: 0;
      &:nth-child(1) {
        top: 0.2rem;
      }
      &:nth-child(2) {
        top: 1.6rem;
      }
      &:nth-child(3) {
        top: 3rem;
      }
    }
    .menu-open & {
      opacity: 0;
      visibility: hidden;
    }
  }
}
