// sass math
@use 'sass:math';

// mixins
@import 'base/mixins';

// fonts =======================================================================

// &display=swap

// local fonts
@import 'fonts/fonts';

// icons font
// @import "fonts/icons";

// variables ===================================================================

// main colors
$grey: #636163; // default font color
$black: #474647;

// base styles file ============================================================
@import 'base/set.scss';

// base styles =================================================================

body {
  // scroll is blocked
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // site is loaded
  .loaded & {
  }
}

// wrapper
.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: url(@img/bg/marble.png);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  @media (max-width: 48em) {
    background: url(@img/bg/marble-mobile.png);
  }

  // press footer
  > main {
    flex: 1 1 auto;
  }
  // fix for sliders
  > * {
    min-width: 0;
  }
}

// main
.main {
  padding-top: 14.6rem;
  section {
    margin-bottom: 20rem;
    @media (max-width: 48em) {
      margin-bottom: 16rem;
    }
  }
  .container {
    position: relative;
    @media (max-width: 48em) {
      padding-left: 3.2rem;
      padding-right: 3.2rem;
    }
  }
  @media (max-width: 48em) {
    padding-top: 13.6rem;
  }
}

// base styles, templates (patterns), special classes ==========================

// base styles import
@import 'base';

// common styles import
@import 'common';

// individual block styles import
@import 'header';
@import 'footer';

// individual sections styles import
@import 'sections/mainpage/hero.scss';
@import 'sections/mainpage/catalog.scss';
@import 'sections/mainpage/privileges.scss';
@import 'sections/mainpage/materials.scss';
@import 'sections/mainpage/services.scss';
@import 'sections/mainpage/complexes.scss';
@import 'sections/mainpage/about.scss';
@import 'sections/mainpage/articles.scss';
@import 'sections/mainpage/contacts.scss';
@import 'sections/optovikam/hero.scss';
@import 'sections/optovikam/cooperation.scss';
@import 'sections/optovikam/privileges.scss';
@import 'sections/optovikam/gallery.scss';
@import 'sections/contacts/map.scss';
@import 'sections/catalog/hero.scss';
@import 'sections/catalog/products.scss';
@import 'sections/articles/hero.scss';
@import 'sections/articles/main.scss';
@import 'sections/article/hero.scss';
@import 'sections/article/chapter.scss';
